/*google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* css Variables */
:root {
    --primary-font: "inter", sans-serif; 
    --secondary-font: "nunito", cursive;
    --primary-color: #000000;
    --secondary-color: #ffffff;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    padding-top: 50px;
    display: flex;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

.review {
    justify-content: center;
    align-items: center;
}

#navbar .logo {
    width: 50px;
    display: flex;
    justify-content: flex-start;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#speciality-dishes .card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 450px;
    border-radius: 8px;
}

#hero {
    text-align: center;
    height: 200px;
    width: 100%;
    background: url("../images/hero.jpg") no-repeat center center/cover;
    position: relative;
}

#review {
    text-align: center;
    justify-content: flex-end;
}

/* Google map */

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
}