/*google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* css Variables */
:root {
    --primary-font: "inter", sans-serif; 
    --secondary-font: "nunito", cursive;
    --primary-color: #000000;
    --secondary-color: #ffffff;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    padding-top: 50px;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

#navbar .logo {
    width: 50px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero {
    height: 200px;
    width: 100%;
    background: url("../images/hero.jpg") no-repeat center center/cover;
    position: relative;
}